<div class="modal" ng-controller="NewOrder">
	<ion-header class="bar bar-header bar-dark">
		<a class="button icon ion-arrow-left-c button-clear" ng-click="closeModal()"></a>
 		<h1 class="title">{{restaurant.name}}</h1>
 		<a class="button icon ion-checkmark-round button-clear" ng-click="confirmOrder()"></a>
	</ion-header>


	<ion-content class="has-header padding">
		<div ng-controller="SlideController">
			<ion-slide-box>
				<ion-slide>
				  	<menu-food-slide></menu-food-slide>
				</ion-slide>

				<ion-slide>
					<table-datetime></table-datetime>
				</ion-slide>
			</ion-slide-box>
		</div>

		<order-view></order-view>
	</ion-content>
</div>