<ion-view view-title="{{order.restaurant}}" ng-controller="NewOrder">
    <ion-content class="has-header padding">
        <div ng-controller="SlideController">
            <ion-slide-box ng-init = "disableSwipe()">
                <ion-slide>
                    <menu-food-slide></menu-food-slide>
                </ion-slide>

                <ion-slide>
                    <table-datetime></table-datetime>
                </ion-slide>
            </ion-slide-box>
        </div>

        <order-view></order-view>
    </ion-content>
</ion-view>
