.account{
	border-bottom: 1px solid #ddd;
}

.button{
	vertical-align: middle;
	min-width: 30px;
	min-height: 20px;
	line-height: 30px;
}

.button-small{
	font-size: 100%;
	line-height: 20px;
}

.bar-header{
	border-bottom-width: 0px;
}

.deep-down{
	z-index: -1 !important;
}

.full-block{
	width: 100%;
}

.icon-selected{
	color: #387ef5;
	font-size: 200%;
}

.item{
	margin: -1px -1px 0px -1px;
}

.item .selected: active{
	background-color: #E0E0E0;
}

.item-complex .item-content{
	padding: 12px 12px 12px 12px;
}

#input-quantity{
	width: 30px;
	color: red;
	border: 1px solid;
	font-size: 20px;
	height: 50%;
	padding: 0px 2px 0px 2px;
}

.list-tabs{
	float: left;
	width: 25%;
	font-size: 100%;
	border: none;
	text-align: center;
	text-decoration: none;
	line-height: 35px;
	background-color: #387ef5;
	color: white;
}

.list-inset input[type]{
	width: 50%;
}

.no-background{
	background: none;
	border: none;
}

a.active{
	background-color: #ef473a;
	border-radius: 2px;
}

.slider-pager{
	z-index: -1;
}

.sign-in{
	position: absolute;
	top: 40%;
	left: 10%;
    width: 80%;
    z-index: 1;
}

.sign-in-page{
	background-color: #99FF99;
}

.transperant{
	opacity: 0.3;
}