div .card .activated > .item{
	background-color: #ddd;
}

.app-title{
	position: relative;
	top: 42%;
	color: white;
	text-align: center;
	font-size: 300%;
	font-family: Lobster;
}

.account-area{
	border-bottom: 1px solid #ddd;
	height: 150px;
	background-color: black;
}

.account{
	font-size: 120%;
	color: seashell;
	text-align: center;
	font-weight: bold;
	padding-top: 50px;
	height: 150px;
}

.center-round-avatar{
	position: absolute;
	left: 112px;
	max-width: 55px;
	max-height: 55px;
	width: 100%;
	border-radius: 50%;

    box-shadow: -1px 2px 3px;
    -moz-box-shadow: -1px 2px 3px;
    -webkit-box-shadow: -1px 2px 3px;
    -o-box-shadow: -1px 2px 3px;
    -ms-box-shadow: -1px 2px 3px;
}

.background-image{
	position: fixed;
	top: -10%;
	width : 100%;
	height: 50%;

	-webkit-filter: blur(6px);
	-moz-filter: blur(6px);
	-o-filter: blur(6px);
	-ms-filter: blur(6px);
	filter: blur(6px);
}

.button{
	vertical-align: middle;
	min-width: 30px;
	min-height: 20px;
	line-height: 30px;
}

.button-small{
	font-size: 100%;
	line-height: 20px;
}

.bar-header{
	border-bottom-width: 0px;
}

.deep-down{
	z-index: -1 !important;
}

.full-block{
	width: 100%;
}

.icon-selected{
	color: #387ef5;
	font-size: 200%;
}

.item{
	margin: -1px -1px 0px -1px;
}

.item .selected: active{
	background-color: #E0E0E0;
}

.item-complex .item-content{
	padding: 12px 12px 12px 12px;
}

#input-quantity{
	width: 30px;
	color: red;
	border: 1px solid;
	font-size: 20px;
	height: 50%;
	padding: 0px 2px 0px 2px;
}

.list-tabs{
	float: left;
	width: 25%;
	font-size: 100%;
	border: none;
	text-align: center;
	text-decoration: none;
	line-height: 35px;
	background-color: #387ef5;
	color: white;
	white-space: nowrap;
	position: relative;
}

.list-inset input[type]{
	width: 50%;
}

.logo{
	position: fixed;
	background: none;
	top: 10%;
	left: 20%;
	width: 60%;
}

.no-background{
	background: none;
	border: none;
}

a.active{
	background-color: #ef473a;
	border-radius: 2px;
}

.slider-pager{
	z-index: -1;
}

.sign-in{
	position: absolute;
	top: 60%;
	left: 10%;
    width: 80%;
    z-index: 1;
}

.sign-in-page{
	background-color: #FFFFFF;
}

.light-transparent{
	opacity: 0.55;
}

.sign-in-image{
	z-index: -1 !important;
	position: fixed;
	width: 100%;
	height: 100%;

	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}

@font-face {
	font-family: 'Lobster';
	src: url('/lib/font/Lobster.eot');
	src: local('Lobster'), url('/lib/font/Lobster.woff') format('woff'), url('/lib/font/Lobster.ttf') format('truetype');
}