<ion-view>
    <ion-pane class = "sign-in-page">
        <div class="sign-in">
            <button class="button button-assertive button-block pull-left" ng-click="googleLogin()">Log in by Google +</button>
            <h4 style="text-align: center; color: white">OR</h4>
            <button class="button button-positive button-block pull-left" ng-click="facebookLogin()">Log in by Facebook</button>
            <!-- <button class="button button-block" ng-click="purpose()">Test</button> -->
        </div>
        <p style="color: #221E1D; width: 100%; text-align: center; position: fixed; bottom: 0;">Copy right by BBS 2015</p>
    </ion-pane>
</ion-view>