<div class="bar bar-header bar-positive">
    <h1 class="title">Account</h1>
</div>

<ion-content class="has-header" ng-controller="LogoutController">
    <ion-list>
        <ion-item class="item item-avatar-left">
            <img class="avatar-image" src="img/ionic.png" alt="image here" />
            <h2>Username</h2>
        </ion-item>
        
        <ion-item class="item item-icon-left" ng-click="logOut()">
            <i class="icon ion-power"></i>
            Log out
        </ion-item>
    </ion-list>
</ion-content>