<div class="account-area" ng-controller="AccountInfo" >
    <img src="{{currentUser.image.url}}" class="background-image light-transperant"></img>
    <div style="display: block; top: 40px; position: relative;">
        <img src="{{currentUser.image.url}}" class="center-round-avatar no-background"></img>
        <div class="account">{{currentUser.name}}</div>
        <div style="font-size: 120%; color: seashell; text-align: center; font-weight: bold; padding-top: 60px;">{{currentUser.name}}</div>
    </div>
</div>