.button{
	position: relative;
	display: inline-block;
	margin: 0;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	vertical-align: middle;
	text-align: center;
	text-overflow: ellipsis;
	cursor: pointer;
}